/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #00a6fb;
  -webkit-text-fill-color: #00a6fb;
  -webkit-box-shadow: 0 0 0px 1000px #191922 inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* Grid */
#grid-container {
  display: grid;
  grid-template-columns: 0.4fr 1.7fr 0.3fr;
  grid-template-rows: 40px 84vh 10vh;
  grid-template-areas: "title search profile" "sidebar tracks tracks" "controls player misc";
}

/* Universally */
* {
  margin: 0;
  background-color: #191922;
  color: white;
}

body {
  font-family: "Barlow", sans-serif;
}

/* Scrollbar */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #051923;
  /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #32323d;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #051923;
  /* creates padding around scroll thumb */
}

/* Main Body */
#main {
  display: flex;
}

/* Back */
.back,
.back:focus {
  outline: none;
  border: none;
  color: white;
  margin: 20px;
}
.back:hover {
    cursor: pointer;
}
