/* Grid */
.grid-container {
  display: grid;
  grid-template-columns: 0.4fr 1.7fr 0.3fr;
  grid-template-rows: 6vh 84vh 10vh;
  grid-template-areas: "title search profile" "sidebar tracks tracks" "player player player";
}

/* Universally */
* {
  margin: 0;
  background-color: #051923;
  color: white;
}

body {
  font-family: "Barlow", sans-serif;
}

/* Scrollbar */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #051923;
  /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #495057;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 2px solid #051923;
  /* creates padding around scroll thumb */
}

/* Main Body */
#main {
  display: flex;
}
