/* CSS FOR THE BOTTOM PLAYER */

/* Player Control */
#extra-controls,
#extra-controls *,
#player-div,
#player-div * {
  background-color: #23232d;
}

#player-div {
  grid-area: player;
  display: flex;
  align-items: center;
  position: sticky;
}

#controls {
  background-color: #23232d;
  grid-area: controls;
  display: flex;
  justify-content: center;
}

#playpause {
  font-size: 36px;
}

#player-trackbox {
  width: 100%;
  text-align: center;
}

#player-info {
  display: flex;
  white-space: break-spaces;
  justify-content: center;
}

.operator {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#timestamps {
  display: flex;
  justify-content: center;
  align-items: center;
}

progress {
  width: 50%;
  margin: 5px;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  color: #00a6fb;
  height: 5px;
}

progress[value]::-webkit-progress-bar {
  background-color: white;
  border-radius: 2px;
  border: 1px solid lighten(#32323d, 20%);
  color: #00a6fb;
}

progress::-webkit-progress-value {
  background-color: #00a6fb;
}

.toggle-buttons:focus,
.toggle-buttons {
  color: #8f8f8f;
  outline: none;
  border: none;
}
.toggle-buttons:hover {
  cursor: pointer;
}

#extra-controls {
  grid-area: misc;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.active {
  border-left: 5px solid #00a6fb !important;
}

.toggled {
  color: #00a6fb !important;
}
