/* CSS FOR THE BOTTOM PLAYER */

/* Player Control */
#player-div,
#player-div * {
  background-color: #23232d;
}

#player-div {
  grid-area: player;
  display: flex;
  align-items: center;
  position: sticky;
}

#controls {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2.2rem;
}

#playpause {
  font-size: 36px;
}

#player-trackbox {
  width: 100%;
  text-align: center;
}

#player-info {
  display: flex;
  white-space: break-spaces;
  justify-content: center;
}

.operator {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
#timestamps {
  display: flex;
  justify-content: center;
  align-items: center;
}

progress {
  width: 30%;
  margin: 5px;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  color: #00a6fb;
  height: 5px;
}

progress[value]::-webkit-progress-bar {
  background-color: white;
  border-radius: 2px;
  border: 1px solid lighten(#32323d, 20%);
  color: #00a6fb;
}

progress::-webkit-progress-value {
  background-color: #00a6fb;
}
