/* CSS FOR SIDEBAR */

/* Side Bar */
#sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#site-name {
  grid-area: title;
  text-align: center;
  align-self: center;
}

#list-div {
  margin: 20% 0 0 22px;
}

#list {
  list-style: none;
  padding: 0;
}

#list > li > a {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  text-decoration: none;
}

ul > li > a > i {
  color: #00a6fb;
}

.operator,
.side-icons {
  margin-right: 12px;
}

#album-art {
  width: 100%;
  object-fit: contain;
}
