/* CSS FOR THE TOP BAR */

#searchbar {
  display: flex;
  align-items: center;
  grid-area: search;
  border-left: 1px solid #32323d;
  border-bottom: 1px solid #32323d;
  padding: 7px;
}
#search-icon {
  color: #ccc9dc;
}
#search-box,
#search-box:focus {
  outline: none;
  border: 0;
  font-size: 18px;
  font-weight: lighter;
  color: #ccc9dc;
}
#search-box::placeholder {
  color: #ccc9dc;
}

#profile-bar {
  grid-area: profile;
  display: flex;
  align-items: center;
  justify-content: space-around;

  border-left: 1px solid #32323d;
  border-bottom: 1px solid #32323d;
}
#pfp {
  border-radius: 100%;
}

.drpdn {
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #00a6fb;
}
.dropdown:hover .dropdown-content {
  display: block;
}
