/* Tracks */

#album-area {
  display: flex;
  flex-direction: row;
  margin: 40px;
}
#album-picture {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
#album-name {
  font-size: 20px;
  font-weight: bold;
}
#profile {
  display: flex;
  flex-direction: column;
  background: none;
  align-items: left;
  margin: 20px;
}
