/* Grid */
.grid-container {
  display: grid;
  grid-template-columns: 0.4fr 1.7fr 0.3fr;
  grid-template-rows: 0.2fr 82vh 80px;
  grid-template-areas: "title search profile" "sidebar tracks tracks" "player player player";
}

/* Universally */
* {
  margin: 0;
  background-color: #051923;
  color: white;
}

body {
  font-family: "Barlow", sans-serif;
}

/* Scrollbar */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #051923;
  /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #495057;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 2px solid #051923;
  /* creates padding around scroll thumb */
}

/* Main Body */
#main {
  display: flex;
}

/* Tracks */

#album-area {
  display: flex;
  flex-direction: row;
  margin: 40px;
}
#album-picture {
  width: 250px;
  height: 250px;
  background-position: center;
  background-size: cover;
}
#album-name{
  font-size: 20px;
  font-weight: bold;
}
#profile {
  display: flex;
  flex-direction: column;
  background: none;
  align-items: left;
  margin: 20px;
}
#datagrid {
  grid-area: tracks;
  overflow: auto;
  border-left: 1px solid #495057;
}
#datagrid-heading {
  font-size: 32px;
  font-weight: bold;
  margin: 40px;
}

#datacells {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#datacells-heading {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 20px;
  padding: 20px 0;
  border-top: 1px solid gray;
}

#datacells-heading > span {
  color: darkgray;
  font-size: 14px;
}

.datacells-tracks > span:not(:last-child),
#datacells-heading > span:not(:last-child) {
  margin-right: 35px;
  text-align: start;
}

.datacells-tracks {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 20px;
  padding: 20px 0;
  border-top: 1px solid gray;
  align-items: center;
}

.track-number {
  width: 6.5%;
}

.track-title {
  width: 29%;
}

.track-artist {
  width: 28%;
}

.track-album {
  width: 28%;
}

.track-duration {
  width: 7.5%;
}
