.artist-album-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin: 20px;
  width: 100%;
}
.artist-album-area p {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}
.artist-album-tracks {
  width: 65%;
}
#artist-artist-name {
  font-weight: bold;
  font-size: 50px;
}
#artist-artist-desc {
    margin: 10px 0px;
    width: 75%;
    color: #ccc9dc;
}
