/* Tracks */

.gallery-innerdiv::-webkit-scrollbar {
  display: none;
}

.gallery-innerdiv {
  display: flex;
  text-align: center;
  overflow: auto;
  margin: 10px;
}

.gallery-innerdiv > div {
  margin: 16px;
}

.gallery-heading {
  margin: 16px;
}

.gallery-outerdiv {
  margin: 30px;
}

.browse-artist img {
  width: 200px;
  height: 200px;
}

.browse-album img {
  width: 200px;
  height: 200px;
}
