/* Tracks */

.gallery-innerdiv::-webkit-scrollbar {
  display: none;
}

.gallery-innerdiv {
  display: flex;
  text-align: center;
  overflow: auto;
}

.gallery-innerdiv > div {
  margin: 16px;
}

.gallery-heading {
  margin: 16px;
}

.gallery {
}
