/* Grid */
.grid-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  grid-template-rows: 0.3fr 2.3fr 0.4fr;
  grid-template-areas: "title search" "sidebar tracks" "player player";
}

/* Universally */
* {
  margin: 0;
  background-color: #051923;
  color: white;
}
body {
  font-family: "Open Sans", sans-serif;
}

/* Main Body */
#main {
  display: flex;
}

/* Side Bar */
#sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#site-name {
  grid-area: title;
  text-align: center;
  align-self: center;
}
#list-div {
  margin: 20% 0 0 22px;
}
#list {
  list-style: none;
  padding: 0;
}
#list > li {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
ul > li > i {
    color: #00a6fb;
}
#inner-div .material-icons,
#sidebar .material-icons {
  margin-right: 12px;
}

/* Scrollbar */
#inner-div::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}
#inner-div::-webkit-scrollbar-track {
  background: #051923; /* color of the tracking area */
}
#inner-div::-webkit-scrollbar-thumb {
  background-color: #495057; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 2px solid #051923; /* creates padding around scroll thumb */
}

#album-art {
  width: 100%;
  object-fit: contain;
}

/* Tracks */
#search,
#search:focus {
  outline: none;
  grid-area: search;
  border: 0;
  font-size: 22px;
  font-weight: lighter;
  padding: 20px;
  border-left: 1px solid #495057;
  border-bottom: 1px solid #495057;
}
#inner-div {
  overflow: auto;
  border-left: 1px solid #495057;
  padding: 20px;
}
#stream-heading {
  font-size: 42px;
  font-weight: lighter;
}
.track-div {
  display: flex;
  align-items: center;
  padding: 1.5%;
}
.song-info {
  display: flex;
  flex-direction: column;
}
.song-name {
  font-size: 18px;
  font-weight: bold;
}
.album-name,
.artist-name {
  font-size: 12px;
}

/* Player Control */
#player,
#player * {
  background-color: #1b263b;
}
#player {
  grid-area: player;
  display: flex;
  align-items: center;
  position: sticky;
}
#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 22px;
}
.operator {
}
#play {
  font-size: 36px;
}
