#container {
  width: 25vw;
  margin-right: 5%;
}

input {
  width: 100%;
  padding: 8px 0 8px 0;
  margin: 5px 0 0 0;
  display: inline-block;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  color: white;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #00a6fb;
}

.tooltip {
  text-align: right;
  color: gray;
  font-style: italic;
  font-size: 12px;
}

#signup {
  background-color: #00a6fb;
  color: white;
  padding: 13px;
  border: none;
  width: 100%;
  border-radius: 4px;
}

.field-div {
  height: 15vh;
}
