body {
  margin: 0 auto;
  background: url(GwJD6gO.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

#content {
  margin-left: 5%;
}

button {
  color: black;
  width: 85px;
  height: 32px;
  background-color: whitesmoke;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

#signup {
  background-color: transparent;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  margin: 0px 5px 0px 0px;
}

#login {
  border: 2px solid whitesmoke;
  color: mediumpurple;
  margin: 0px 0px 0px 5px;
}

#header {
  color: whitesmoke;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 4rem;
}

#desc {
  color: whitesmoke;
  margin-top: 0;
}

#form {
  margin-right: 5%;
}

#container {
  width: 25vw;
}

input {
  width: 100%;
  padding: 8px 0 8px 0;
  margin: 5px 0 0 0;
  display: inline-block;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  color: whitesmoke;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: whitesmoke;
}

.tooltip {
  text-align: right;
  color: gray;
  font-style: italic;
  font-size: 12px;
}

#signup {
  background-color: black;
  color: whitesmoke;
  padding: 13px;
  border: none;
  width: 100%;
}

.field-div {
  height: 15vh;
}
