body {
  margin: 0 auto;
  background: url(GwJD6gO.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

#content {
  margin-left: 5%;
}

button {
  color: black;
  width: 85px;
  height: 32px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

#signup {
  background-color: transparent;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  margin: 0px 5px 0px 0px;
}

#login {
  border: 2px solid whitesmoke;
  color: whitesmoke;
  margin: 0px 0px 0px 5px;
}

#header {
  color: whitesmoke;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 4rem;
}

#desc{
    margin-top: 0;
    color: whitesmoke
}
