body {
  margin: 0 auto;
  background-color: #051923;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Barlow", sans-serif;
}

#main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

#content {
  margin-left: 5%;
}

button {
  color: black;
  width: 85px;
  height: 32px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

#signup {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  margin: 0px 5px 0px 0px;
}

#login {
  border: 2px solid white;
  color: #00a6fb;
  margin: 0px 0px 0px 5px;
}

#header {
  color: #00a6fb;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}

#desc {
  margin-top: 0;
  color: white;
}
