#settings-div * {
  background-color: #23232d;
}
#settings-div {
  text-align: right;
  padding: 0;
  background-color: #23232d;
  width: 100%;
}
#settings-div img {
  border-radius: 50%;
}
#settings-div p {
  color: #92929d;
  text-align: left;
  font-weight: bold;
  font-size: 42px;
  margin: 15px;
}
.form-settings button:focus,
.form-settings button {
  background-color: #191922;
  border: 1px solid #92929d;
  border-radius: 3px;
  padding: 7px;
}
.labels {
  color: #92929d;
  font-weight: bold;
}
.form-settings div * {
  margin: 7px;
}
.form-settings div {
  margin: 20px;
}
.form-settings div input {
  border: none;
  outline: none;
  background-color: #191922;
  color: #00a6fb;
  padding: 7px;
  border: 1px solid #92929d;
  border-radius: 3px;
}
hr {
  border: 1px solid #32323d;
  margin: 0 20px;
}

#results #et {
  font-size: 12px;
}
#results #pt {
  font-size: 12px;
}

#datagrid #datacells {
}

#settings-pfp {
  margin-left: 20px;
}

#pfp-banner {
  display: none;
}
#profile-banner {
  flex-direction: row;
  justify-content: space-between;
}
#profile-banner:hover {
  cursor: pointer;
  display: flex;
}
#settings-pfp:hover {
  cursor: pointer;
}
.overlay {
  background-color: white !important;
  transition: 0.2s ease;
  opacity: 0;
  color: black;
  padding: 10px;
  font-size: 16px;
  margin-right: 20px;
}
#profile-banner:hover .overlay {
  opacity: 1;
}
#pfp-div {
  background-color: transparent !important;
}
