/* Tracks */

#datagrid {
  grid-area: tracks;
  overflow: auto;
  border-left: 1px solid #495057;
}

#datagrid-heading {
  font-size: 32px;
  font-weight: bold;
  margin: 40px;
}

#datacells {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#datacells-heading {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 20px;
  padding: 20px 0;
  border-top: 1px solid gray;
}

#datacells-heading > span {
  color: darkgray;
  font-size: 14px;
}

.datacells-tracks > span:not(:last-child),
#datacells-heading > span:not(:last-child) {
  margin-right: 35px;
  text-align: start;
}

.datacells-tracks {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 20px;
  padding: 20px 0;
  border-top: 1px solid gray;
  align-items: center;
}

.track-number {
  width: 6.5%;
}
.track-title {
  width: 29%;
}

.track-artist {
  width: 28%;
}

.track-album {
  width: 28%;
}

.track-duration {
  width: 7.5%;
}
