/* Tracks */

#datagrid {
  grid-area: tracks;
  overflow: auto;
  border-left: 1px solid #32323d;
}

#datagrid-heading {
  font-size: 32px;
  font-weight: bold;
  margin: 40px;
}

#datacells {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#datacells-heading {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 20px;
  padding: 20px 0;
  border-top: 1px solid #32323d;
}

#datacells-heading > span {
  color: #92929d;
  font-size: 14px;
}

.track-number {
}

.favorite {
  color: #00a6fb;
}

.datacells-tracks > span,
#datacells-heading > span {
  text-align: start;
}

.track-no {
}
.track-fav {
}

.datacells-tracks {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 20px;
  padding: 20px 0;
  border-top: 1px solid #32323d;
  align-items: center;
}

.track-number,
.favorite {
  border: none;
  text-align: left;
  cursor: pointer;
  width: 7.5%
}

.favorite:focus,
.track-number:focus {
  border: none;
  outline: none;
}

.track-title {
  width: 25%;
  margin-right: 12px;
}

.track-artist {
  width: 27%;
  margin-right: 12px;
}

.track-album {
  width: 28%;
  margin-right: 12px;
}
