#uploadsettings-outerdiv * {
  background-color: #23232d;
}
#uploadsettings-outerdiv {
  background-color: #23232d;
  text-align: center;
  padding: 50px;
}
#uploadsongs-input-outer-div {
  display: flex;
  flex-direction: column;
}
.uploadsongs-input-inner-div {
  margin: 10px;
}
